spring:
  application:
    name: auth

  datasource:
    url: jdbc:mysql://host.docker.internal:3306/smart_health_auth
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: auth-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

jwt:
  secret: smartHealthSecretKeyForJWTTokenGenerationAndValidation2024
  expiration: 86400000
  refresh:
    expiration: 604800000

server:
  port: 8081

logging:
  level:
    fit.iuh.auth: DEBUG
    org.springframework.security: DEBUG
